@font-face {
  font-family: 'dvla_vrm';
  src:  url('/public/fonts/dvla-vrm-webfont.woff2') format('woff2'),
        url('/public/fonts/dvla-vrm-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}