
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Estimate your mileage – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% if error %}
{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [{
    text: errorMessage,
    href: "#estimated-mileage"
  }]
}) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
      Estimate your {{ data['mileageUnit'] }} for the next {{ data['taxLength'] }} months
    </h1>

    <p class="govuk-body">
      Enter the number of {{ data['mileageUnit'] }} you expect to drive in this vehicle between:<br>
      <strong>{{ data['taxStartDate'] or '1 May 2026' }}</strong> and
      <strong>{{ data['taxEndDate'] or '30 April 2027' }}</strong>.
    </p>

    <p class="govuk-body">
      If you think the next period will be similar to the last, you can use the difference in mileage 
      shown on your most recent MOT certificate to help you estimate.
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>If you overestimate your mileage, any amount you overpay will be carried over and used 
        for the following period</li>
      <li>If you underestimate your mileage, you will be able to pay for the extra miles you 
        have travelled the next time you tax your vehicle</li>
    </ul>

    <form action="/b-eVED-screens/estimate-your-miles-answer" method="post" novalidate>


     
      <div class="govuk-form-group{% if error %} govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="estimated-mileage">
          <strong>Estimated {{ data['mileageUnit'] }}</strong>
        </label>

{% if data ['mileageUnit'] == 'kilometres' %}
        <div id="changedName-hint" class="govuk-hint">
     We’ll convert this to miles for you
    </div>
{% else %}
{% endif %}

{% if error %}
<p id="estimated-mileage-error" class="govuk-error-message">
  <span class="govuk-visually-hidden">Error:</span>
  {{ errorMessage }}
</p>
{% endif %}

        <input
          class="govuk-input govuk-!-width-one-third"
          id="estimated-mileage"
          name="estimatedMileageMiles"
          type="text"
          inputmode="numeric"
          autocomplete="off"
          value="{{ data['estimatedMileageMiles'] }}"
          spellcheck="false">
      </div>


      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
