

{% extends "layouts/main.html" %}

{% block pageTitle %}
Direct Debit details – GOV.UK
{% endblock %}

{% block beforeContent %}



<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Direct Debit details</h1>


    <p class="govuk-body">
      All instructions are supported by the Direct Debit Guarantee. In order to set up
      a Direct Debit you must be the account holder of a personal or business bank
      or building society account. Please enter the account holder's details below.
      If paying with a business account, please enter the details of the authorised
      signatory and the business account address.
    </p>

 <!--  <form action="#" method="post">.  --> 


      <div class="govuk-form-group">
        <label class="govuk-label" for="title">Title (Mr, Mrs, etc)</label>
        <select class="govuk-select" id="title" name="title">
          <option value=""></option>
          <option value="mr">Mr</option>
          <option value="mrs">Mrs</option>
          <option value="miss">Miss</option>
          <option value="ms">Ms</option>
          <option value="dr">Dr</option>
        </select>
      </div>


      <div class="govuk-form-group">
        <label class="govuk-label" for="first-name">First name</label>
        <input class="govuk-input govuk-input--width-20" id="first-name" name="firstName" type="text">
      </div>


      <div class="govuk-form-group">
        <label class="govuk-label" for="last-name">Last name</label>
        <input class="govuk-input govuk-input--width-20" id="last-name" name="lastName" type="text">
      </div>


      <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
        <legend class="govuk-fieldset__legend">Date of birth</legend>


        <div class="govuk-date-input">
          <div class="govuk-date-input__item">
            <label class="govuk-label govuk-date-input__label" for="dob-day">DD</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" type="text">
          </div>


          <div class="govuk-date-input__item">
            <label class="govuk-label govuk-date-input__label" for="dob-month">MM</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" type="text">
          </div>

          <div class="govuk-date-input__item">
            <label class="govuk-label govuk-date-input__label" for="dob-year">YYYY</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" type="text">
          </div>
        </div>
      </fieldset>

      <div class="govuk-form-group">
        <label class="govuk-label" for="email-address">Email address</label>
        <input class="govuk-input govuk-input--width-30" id="email-address" name="emailAddress" type="email">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="confirm-email-address">Confirm email address</label>
        <input class="govuk-input govuk-input--width-30" id="confirm-email-address" name="confirmEmailAddress" type="email">
      </div>

    <a class="govuk-button" data-module="govuk-button" href="/c-payment-screens/dd-payment-screens/address-find">
      Continue
    </a>


    </form>

  </div>


{% endblock %}


