{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      The V5C log book reference number does not match the registration number
    </h1>

    <p>Check the details you entered and try again.</p>
    <p>The 11-digit reference number must be from the most recent V5C log book issued for this vehicle by the DVLA. If a new log book has been issued, older versions will not work. </p>
    
    <h2 class="govuk-heading-m">You can also</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="javascript:window.history.back()">
          go back and re-enter your vehicle details
        </a>
      </li>
      <li>
        check your vehicle information by
        <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/driver-vehicles-account">
          signing into your Driver and vehicles account
        </a>
      </li>
    </ul>

    <a href="https://www.gov.uk" class="govuk-button govuk-!-margin-top-3">
      Return to GOV.UK
    </a>

  </div>
  </div>

{% endblock %}
