
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
        You must tax your vehicle before purchasing miles
    </h1>

    <p>Our records show this vehicle is currently untaxed or has an active SORN. You must have valid vehicle tax to buy additional miles.</p>
  
    <h2 class="govuk-heading-m">Take action</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        tax your vehicle (including electric and plug-in hybrids) online at
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/a-starting-screens/tax-start-page">
          tax-your-vechicle.gov.uk
        </a>
      </li>
      <li>
        make a SORN if you are taking your vehicle off the road at
        <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/make-a-sorn">
          www.gov.uk/make-a-sorn
        </a>
      </li>
    </ul>

    <a href="https://www.gov.uk" class="govuk-button govuk-!-margin-top-3">
      Return to GOV.UK
    </a>

    </form>

  </div>
</div>

{% endblock %}
