
{% extends "layouts/main.html" %}

{% block pageTitle %}
  You must tax your vehicle before purchasing miles – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
        You must tax your vehicle before purchasing miles
    </h1>

    <!-- 2. GDS Warning Text component for legal/critical blockers -->
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            Our records show this vehicle is not taxed.
          </strong>
        </div>

        <p class="govuk-body">
          You must <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk">tax your vehicle</a> or <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk">make a SORN</a> (Statutory Off Road Notification) before you can buy more miles.
        </p>

        <p class="govuk-body">
          You can also <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk">return to GOV.UK</a> to find other driving and transport services.
        </p>

</div>

{% endblock %}
