{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <!-- <h2 class="govuk-heading-m">Electric Vehicle Excise Duty (eVED) Fleet Service</h2> -->
    <!--p class="govuk-body">The scheme introduces a pay-per-mile model alongside VED for electric and plug-in hybrid vehicles, requiring customers to
report and manage their mileage. It will be supported by a new digital fleet licensing service, replacing BERT and over
time, VVR, enabling bulk VED/eVED payments and retaining key features like V5C suppression.</p>
    <p class="govuk-body">From 1 April 2028, eVED a new mileage-based charge will apply to BEVs, PHEVs, and HFCEVs that are cars.</p-->
    
   </div> 
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--none">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">    
    <h2 class="govuk-heading-l">Prototype test in Alpha</h2>

      <!-- <h3 class="govuk-heading-m">Usability testing</h3> -->
      <!-- Round 2 -->
      <div style="border-top: 1px solid #ccc; padding-top: 25px; margin-top:25px;">
         <h2 class="govuk-heading-m">Round 2 </h2>
        <p>
          <strong class="govuk-tag">
          5 October 2026
        </strong>
        </p>
        <p class="govuk-body">Date of vehichle tax liability journey user responses to unhappy paths</p>
        <p class="govuk-body">
          <a href="/v2/before-start.html" class="govuk-button govuk-!-margin-bottom-0">View journey</a>
        </p>
      </div>
      <!-- Round 1 -->
      <div style="border-top: 1px solid #ccc; padding-top: 25px; margin-top:25px;">
         <h2 class="govuk-heading-m">Round 1 </h2>
        <p>
          <strong class="govuk-tag govuk-tag--grey">
          15 September 2026
        </strong>
        </p>
        <p class="govuk-body">Happy path where the user visits the add milage joureney, enters milage and has exceeeded estimated eVED milage</p>
        <p class="govuk-body">
          <a href="/v1/before-start.html" class="govuk-button govuk-!-margin-bottom-0">View journey</a>
        </p>
      </div>
    </div>
</div>

{% endblock %}
